# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created

# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Run tests

on:

  push:

    branches:

      - main

  pull_request:

    types: [opened, reopened, synchronize]

  workflow_dispatch:

jobs:

  build:

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest, windows-latest, macos-latest]

        node: [16, 18, 20]

    steps:

      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3

        with:

          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm test
